REACT_APP_API_ENDPOINT=https://syp1o7qfxj.execute-api.us-east-1.amazonaws.com
REACT_APP_AUTH_DISABLED=false
REACT_APP_USER_POOL_ID=us-east-1_xxxxxxxxx
REACT_APP_USER_POOL_CLIENT_ID=xxxxxxxxxxxxxxxxxxxxxxxxxx
REACT_APP_GOOGLE_CLIENT_ID=795218195144-n69mhlhomon1j6q5eg4ofjjosn54b0mu.apps.googleusercontent.com
